* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

html, body {
  height: 100%;
}

html {
  background-color: rgb(42, 34, 49);
}

body {
  padding-top: 1rem;
}

.room, .sign-out{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.room {
  margin-bottom: 1rem;
}

.room input {
  color: black;
  padding: .5rem;
  
}

.sign-out, button{
  color: black;
  padding: .5rem;
}

.enter-chat {
  color: black;
  padding: .5rem;
}